<nav class="col-sm-5 col-md-3 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">
                <span data-feather="list"></span>
                New Itinerary
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/data-entry/venue/create">
                <span data-feather="map"></span>
                New Venue
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/data-entry/activity/create">
                <span data-feather="activity"></span>
                New Activity
                </a>
            </li>
        </ul>