<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include _layouts/head %>
  </head>
  <body>
    <div class="container-fluid">
      <h1><%= title %></h1>
      <a href="./data-entry/venues"><button class="btn-primary">Venues</button></a>
    </div>
  </body>
</html>
