<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include _layouts/head %>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <h2><%= title %></h2><hr />
        <a href="/data-entry/venues/search"><button class="btn btn-primary">Search Venues</button></a>
        <a href="/data-entry/venues/create"><button class="btn btn-primary">Create a Venue</button></a>
        <a href="/data-entry/activities/search"><button class="btn btn-primary">Search Activities</button></a>
      </div>
    </div>
  </body>
</html>
