<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include _layouts/head %>
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1><hr />
      <a href="./data-entry"><button class="btn btn-primary">Enter Data Entry Site</button></a>
    </div>
  </body>
</html>
