<h3>Create a Venue</h3>
<div class="btn-toolbar mb-2 mb-md-0">
    <label id="searchVenues" class="btn btn-secondary active" value="Venue">
        <input type="radio" name="options" autocomplete="off" checked> Venues
    </label>
    <label id="searchActivities" class="btn btn-secondary" value="Activity">
        <input type="radio" name="options" autocomplete="off"> Activities
    </label>
</div>
</div>