<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ../_layouts/head %>
  </head>
  <body>
    <div class="container-fluid">
      <h1><%= title %></h1>
      <form action="/data-entry/venues/search/" method="POST">
        <label for="venue_name">Venue name: </label>
        <input id="venue_name" type="text" name="name">
        <input type="submit" value="Search">
      </form>
    </div>
  </body>
</html>
