<!DOCTYPE html>
<html>
    <head>
        <title><%= venueName %> - Details</title>
        <% include ../_layouts/head %>
    </head>
    <body>
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../../data-entry">Data Entry</a></li>
                    <li class="breadcrumb-item"><a href="../../venues">Venues</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><%= venueName %><span class="deemphasize"> (ID: <%= venueID %>)</span></li>
                </ol>
            </nav>
        </div>
    </body>
</html>